body {
    background-color: rgb(177, 229, 247);
    border: 5px solid rgb(129, 19, 19);
    border-radius: 15px;
}

h1 {
    font-size: 32px;
    text-align: center;
}

.imgs {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 500px;
}

.menu {
    margin: 30px;
    margin-bottom: 0;
}

.list {
    margin-top: 10px;
    margin-left: 10px;
}

.content {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    color: rgb(255, 0, 234);
}

h2, h3 {
    color: rgb(7, 95, 7);
}